alias vimzsh="vim ~/.zshrc"
alias reload="source ~/.zshrc"
alias tzgit='cd ~/git_repositories'
alias diff='colordiff'
alias svim="sudo vim"
alias flushdns='sudo killall -HUP mDNSResponder'
fixhost() {
        sed -e $1d -i ~/.ssh/known_hosts
}
function kubeshell() { kubectl exec -ti $@ -- /bin/sh; }
source ~/.credentials/aliases.zsh
