[user]
	email = tstrul@gmeil.com
	name = Tzachi Strul
[credential]
	helper = cache --timeout=3600
[push]
	default = current
[core]
	editor = vim
[diff "sopsdiffer"]
	textconv = sops -d
[alias]
	cam = commit --amend --no-edit
[core]
	excludesfile = /Users/tzachis/.gitignore_global
