[user]
	email = tstrul@gmeil.com
	name = Tzachi Strul
[credential]
	helper = cache --timeout=3600
[push]
	default = current
[core]
	editor = vim
[diff "sopsdiffer"]
	textconv = sops -d
[alias]
	cam = commit --amend --no-edit
    plog= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	excludesfile = ~/.gitignore_global
